<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nafiz Labib's Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body style="margin: 0; padding: 0;" class="bg-black p-4">
    <div class="flex justify-between">
        <h1 style="color: #0f0;" class="text-4xl text-left font-mono ml-8 mt-8 mb-16">Nafiz Labib's Portfolio</h1>
        <div class="flex">
            <button type="submit" style="color: #0f0;" class="bg-black text-right font-mono mx-8 mt-8 mb-16">Home</button>
            <button type="submit" style="color: #0f0;" class="bg-black text-right font-mono mx-8 mt-8 mb-16">Links</button>
        </div>
    </div>
</body>
</html>