<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nafiz Labib's Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body style="margin: 0; padding: 0;" class="bg-black p-4">
    <form method="post" name="pfbuttons">
        <div class="flex justify-between">
            <h1 style="color: #0f0;" class="text-4xl text-left font-mono ml-8 mt-8 mb-8">Nafiz Labib's Portfolio</h1>
            <div class="flex">
                <button type="submit" style="color: #0f0;" class="bg-black text-right font-mono mx-8 mt-8 mb-8 transform transition-transform hover:scale-125 hover:-translate-y-1" name="pfPage" value="Home">Home</button>
                <button type="submit" style="color: #0f0;" class="bg-black text-right font-mono mx-8 mt-8 mb-8 transform transition-transform hover:scale-125 hover:-translate-y-1" name="pfPage" value="Projects">Projects</button>
                <button type="submit" style="color: #0f0;" class="bg-black text-right font-mono mx-8 mt-8 mb-8 transform transition-transform hover:scale-125 hover:-translate-y-1" name="pfPage" value="Links">Links</button>
            </div>
        </div>
    </form>
    <div>
        <h2 style="color: #0f0;" class="text-2xl text-center font-mono">*SEEKING SUMMER 2024 INTERNSHIP OPPORTUNITIES*</h2>    
    </div>
</body>
</html>