<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nafiz Labib's Links</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body style="margin: 0; padding: 0;" class="bg-black p-4">   
    <form method="post" name="pfbuttons">
        <div class="flex justify-between">
            <h1 style="color: #0f0;" class="text-4xl text-left font-mono ml-8 mt-8 mb-16">Nafiz Labib's Portfolio</h1>
            <div class="flex">
                <button type="submit" style="color: #0f0;" class="bg-black text-right text-lg font-mono mx-8 mt-8 mb-16 transform transition-transform hover:scale-125 hover:-translate-y-1" name="pfPage" value="Home">Home</button>
                <button type="submit" style="color: #0f0;" class="bg-black text-right text-lg font-mono mx-8 mt-8 mb-16 transform transition-transform hover:scale-125 hover:-translate-y-1" name="pfPage" value="Projects">Projects</button>
                <button type="submit" style="color: #0f0;" class="bg-black text-right text-lg font-mono mx-8 mt-8 mb-16 transform transition-transform hover:scale-125 hover:-translate-y-1" name="pfPage" value="Links">Links</button>
            </div>
        </div>
    </form>
    
    <div class="flex justify-between">
        <div class="text-center flex items-center flex-col">
            <img src="static/images/githubicon.png" alt="Click to see my Github profile" class="ml-32 mr-auto mb-4 w-32 h-32">
            <a href="https://github.com/nafizzl">
                <button type="submit" name="View Github"  style="background-color: #0f0;" class="text-black font-bold py-2 px-4 rounded ml-32 mr-auto mb-2 transform transition-transform hover:scale-110 hover:-translate-y-1">View Github</button>
            </a>
        </div>
        <div class="text-center flex items-center flex-col">
            <img src="static/images/leetcodeicon.png" alt="Click to see my Leetcode profile" class="mx-auto mb-4 w-32 h-32">
            <a href="https://leetcode.com/nafizzl/">
                <button type="submit" name="View Github"  style="background-color: #0f0;" class="text-black font-bold py-2 px-4 rounded mx-auto mb-2 transform transition-transform hover:scale-110 hover:-translate-y-1">View Leetcode</button>
            </a>
        </div>
        <div class="text-center flex items-center flex-col">
            <img src="static/images/linkedinicon.png" alt="Click to see my LinkedIn profile" class="ml-auto mr-32 mb-4 w-32 h-32">
            <a href="https://linkedin.com/in/nafizzl">
                <button type="submit" name="View Github"  style="background-color: #0f0;" class="text-black font-bold py-2 px-4 rounded ml-auto mr-32 mb-2 transform transition-transform hover:scale-110 hover:-translate-y-1">View LinkedIn</button>
            </a>
        </div>
    </div>
    
</body>
</html>