<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nafiz Labib's Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body style="margin: 0; padding: 0;" class="bg-black">   
    <h1 style="color: #0f0;" class="text-4xl text-center font-mono mt-8">Nafiz Labib's Portfolio</h1>
    <a href="https://github.com/nafizzl">
    <img src="static/images/githubicon.png" alt="Click to see my Github">
    </a>
</body>
</html>