<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nafiz Labib's Projects</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>
<body style="margin: 0; padding: 0;" class="bg-black p-4">
    <form method="post" name="pfbuttons">
        <div class="flex justify-between">
            <h1 style="color: #0f0;" class="text-4xl text-left font-mono ml-8 mt-8 mb-16">Nafiz Labib's Portfolio</h1>
            <div class="flex">
                <button type="submit" style="color: #0f0;" class="bg-black text-right text-lg font-mono mx-8 mt-8 mb-16 transform transition-transform hover:scale-125 hover:-translate-y-1" name="pfPage" value="Home">Home</button>
                <button type="submit" style="color: #0f0;" class="bg-black text-right text-lg font-mono mx-8 mt-8 mb-16 transform transition-transform hover:scale-125 hover:-translate-y-1" name="pfPage" value="Projects">Projects</button>
                <button type="submit" style="color: #0f0;" class="bg-black text-right text-lg font-mono mx-8 mt-8 mb-16 transform transition-transform hover:scale-125 hover:-translate-y-1" name="pfPage" value="Links">Links</button>
            </div>
        </div>
    </form>
    <div class="max-w-lg text-wrap">
        <h3 style="color: #0f0;" class="text-2xl text-left font-mono ml-16 mb-4">PORTFOLIO WEBSITE</h3>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 mb-4 text-wrap">This website itself is a project for me. It demonstrates an early case of user design, and is my entry into web development. I'll be working on this website as I add new work and make any design changes in the showcasing of my work.</p>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 text-wrap"><b>Frontend:</b> HTML, TailwindCSS</p>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 mb-16 text-wrap"><b>Backend:</b> Python, Flask</p>
    </div>
    <div class="max-w-lg text-wrap">
        <h3 style="color: #0f0;" class="text-2xl text-left font-mono ml-16 mb-4">AMBULANE</h3>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 mb-4 text-wrap">Ambulane is an app my 4-person team submitted at my first hackathon, Axxess Hackathon 2023, held at the University of Texas at Dallas. It was my first exposure to creating something outside of classwork activities. The idea involves allowing first responders to operate like an "official" Waze, sending OS notifications to people along the path an EMT is taking.</p>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 text-wrap"><b>Frontend:</b> Figma, HTML, CSS</p>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 text-wrap"><b>Backend:</b> Python, Bun</p>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 text-wrap"><b>Authentication/Notification:</b> AWS Lambda</p>
        <a href="https://devpost.com/software/dcam">
            <button type="submit" style="color: #0f0;" class="bg-black text-right text-lg font-mono ml-16 mt-4 mb-16 transform transition-transform hover:scale-110 hover:-translate-y-1" name="pfPage" value="Ambulane"><u>Check out Ambulane!</u></button>
        </a>
    </div>
    <div class="max-w-lg text-wrap">
        <h3 style="color: #0f0;" class="text-2xl text-left font-mono ml-16 mb-4">JAKEBOT</h3>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 mb-4 text-wrap">JakeBot is an app my 4-person team submitted at my second hackathon, HackUTD X, held at the University of Texas at Dallas. My team created an improved chatbot for State Farm, one which would take care of simple tasks for clients like getting quotes and analyzing official insurance documentation, which would be especially helpful for people like small business owners.</p>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 text-wrap"><b>Frontend:</b> HTML, TailwindCSS, Vue, Kommunicate API</p>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 text-wrap"><b>Backend:</b> Gooogle Firestore</p>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 text-wrap"><b>Chatbot Mapping:</b> DialogFlow CX</p>
        <p style="color: #0f0;" class="text-base text-left font-mono ml-16 text-wrap"><b>Cloud Deployment:</b> Google Firebase</p>
        <a href="https://hackutd-statefarmbot.web.app/">
            <button type="submit" style="color: #0f0;" class="bg-black text-right text-lg font-mono ml-16 mt-4 mb-16 transform transition-transform hover:scale-110 hover:-translate-y-1" name="pfPage" value="JakeBot"><u>Check out JakeBot!</u></button>
        </a>
    </div>
</body>
</html>