<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/output.css" rel="stylesheet">
    <title>Welcome to Labib Corp</title>
</head>
<body class="bg-white">
    <div class="w-screen">
        <div class="flex items-center sticky top-0 justify-between w-screen">
            <div class="mx-auto bg-center">
                <h1 class="font-mono text-4xl text-french-gray mx-auto">SmartQuiz</h1>
            </div>
            <div class="flex">
                <form action="/" method="POST">
                    <button value="login" name="login" class="transform transition-transform hover:scale-125 hover:-translate-y-1">Login</button>
                    <button value="signup" name="signup" class="transform transition-transform hover:scale-125 hover:-translate-y-1">Signup</button>
                </form>
            </div>
        </div>

    </div>
</body>
</html>