<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/output.css" rel="stylesheet">
    <title>Welcome to Labib Corp</title>
</head>
<body>
    <div>
        <div class="flex items-center">
            
        </div>
        <div>
            <form action="/" method="POST">
                <button value="login" name="button">Login</button>
                <button value="signup" name="button">Signup</button>
            </form>
        </div>
    </div>
</body>
</html>