<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="tableStyle.css">
</head>
<style>
    h1 {
        text-align: center;
        font-size: 72px;
    }
</style>
<body>
    <h1>Welcome Administrator</h1>
    {% if actionsPage %}
    <form action="#" method="post">
        <p><input type="submit" name="adminAction" value="Add New Group"></p>
        <p><input type="submit" name="adminAction" value="View All Users"></p>
    </form>
    {% endif %}
</body>
</html>